{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Создание заявки</title>
  <style>


    form input[type="file"] {
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Создание заявки</h2>
    <form action="#" method="post" enctype="multipart/form-data">
      <label for="equipment">Информация о технике:</label>
      <input type="text" id="equipment" name="equipment" required>

      <label for="issue">Описание неисправности:</label>
      <textarea id="issue" name="issue" rows="4" required></textarea>

      <label for="service-time">Желаемое время обслуживания:</label>
      <input type="datetime-local" id="service-time" name="service-time" required>

      <label for="attachments">Прикрепить фотографии или документы:</label>
      <input type="file" id="attachments" name="attachments" multiple>

      <input type="submit" value="Отправить заявку">


      <section class="font-if">
        <div class="btn">
            <ul>
                <li><a href="{% url 'masters' %}">Назначение мастера</a></li>
                <li><a href="{% url 'tracking' %}">Отслеживание хода работы</a></li>
                <li><a href="{% url 'notifications' %}">Уведомления</a></li>
                <li><a href="{% url 'administrative' %}">Административный функционал</a></li>
                <li><a href="{% url 'interface' %}">интерфейс</a></li>
                <li><a href="{% url 'safety' %}">безопасность</a></li>
                <li><a href="{% url 'performance' %}">производительность</a></li>
                <li><a href="{% url 'scalability' %}">масштабируемость</a></li>
                <li><a href="{% url 'technology_stack' %}">стек технологий</a></li>
                <li><a href="{% url 'work_plan' %}">План работы</a></li>
                <li><a href="{% url 'expected_results' %}">Ожидаемые результаты</a></li>
            </ul>
        </div>
      </section>
    </form>

  </div>
</body>
</html>
