{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Нефункциональные требования</title>
    <link rel="stylesheet" href="{% static 'sty5.css' %}">
</head>
<body>
    <div class="requirements">
        <h4>Нефункциональные требования</h4>
        <ul>
            <li>Интуитивно понятный пользовательский интерфейс с удобным взаимодействием с системой.</li>
            <li>Адаптивный дизайн для корректного отображения на различных устройствах.</li>
        </ul>
    </div>
</body>
</html>
